.labeltxt {
    font-size: small;
    padding-right: 195px;
}

.submitbtn{
    width:80px;
    font-size: small;
    border-color: black;
}

.backbtn{
    width:60px;
    height: 30px;
    text-align: center;
    font-size: x-small;
    border-color: black;
    display: block;
}

.flex-container{
    margin-left: 70px;
    display: flex;
    column-gap: 30px;  /* Set a gap of 20px */
    align-items: flex-start;
}