.auth-form {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: ivory;
    width: 450px;
    margin-left: 40%;
    
}
.formtitle {
    font-size: 25px
}

.flex-container{
    padding-right: 50px;
    display: flex;
    column-gap: 20px;  /* Set a gap of 20px */
    align-items: flex-start;
}


.signupbtn {
    width:80px;
    font-size: small;
    border-color: black;
    margin-right: 60px
}
    
.loginbtn {
    width:80px;
    font-size: small;
    border-color: black;
}

.forgotpassbtn {
    width: 110px;
    font-size: x-small;
    margin-right: 110px;
    margin-top: 5px;
    height: 30px;
    text-align: left;
    border-color: black;
 }

.inputform {
    width: 220px;
    height: 25px;
}


.inputlabeltxt {
    font-size: small;
    padding-right: 195px;
}

.noacctxt {
    font-size: x-small;
    padding-right: 110px;
}


.qlesslogo {
    margin-left: 10%;
}